.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#fff;
  padding: 15px 10%;
  margin-right: -20px;
}

.logo{
     width: 80px;
     cursor: pointer;
}

ul{
    flex: 1;
    list-style:none;
    text-align:center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.search-Box{
  display: flex;
  align-items: center;
  background: #242424;
  padding: 4px 4px;
  border-radius: 50px;
}

.search-Box input{
  padding: 1px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  max-width: 200px;
}

.search-Box img{
   width: 15px;
   margin-right: 6px;
}

.navbar ul li{
 font-size: 15px;
}

.search-Box input::placeholder{
  color: #fff;
}

